<div class="skills">
    <div class="skills-view">
        <span class="skills-view-title">Sampled Skills</span>
        <div class="skills-view-set">
            <span *ngFor="let skill of skills" class="skills-view-set-item">{{skill.toUpperCase()}}</span>
        </div>
    </div>
    <div class="skills-works">
        <span class="skills-view-title">Official Experiences</span>

        <div *ngFor="let work of works" class="skills-works-item">
            <span class="skills-works-item-job">{{work.job}}</span>
            <span class="skills-works-item-company">{{work.company}}</span>
            <span class="skills-works-item-date">{{work.from | date}} - {{work.to | date}}</span>
            <span class="skills-works-item-location">{{work.location}}</span>
            <details class="skills-works-item-details">
                <span class="skills-works-item-details-item" *ngFor="let detail of work.details">
                    <i class="fa fa-star"></i>
                    <span>{{detail}}</span>
                </span>
            </details>
        </div>
    </div>
</div>