$skills: 12;

.skills {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    gap: 1em;
    align-items: center;
    width: 100%;
    height: 100%;

    &-view {
        display: grid;
        grid-template-rows: max-content 1fr;
        gap: 1em;
        padding: 1em;
        height: 80vh;

        &-title {
        }

        &-set {
            perspective-origin: center;
            perspective: 1200px;
            transform-style: preserve-3d;
            position: relative;
            padding: 1em 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            animation: 60s rotate linear infinite;

            &-item {
                position: absolute;
                width: 50%;
                max-width: 500px;
                display: flex;
                padding: 1em;
                justify-content: center;
                height: 30vh;
                background: rgba(59, 44, 44, 0.5);
                font-size: 4vh;
                letter-spacing: 0.05em;
            }
        }
    }

    &-works {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, max-content);
        height: calc(100% - 2em);
        padding: 1em;
        gap: 1em;

        &-item {
            display: grid;
            grid-template-areas: "company company" "location date" "job job" "details details";
            gap: 1em;
            position: relative;
            background-color: rgba(59, 44, 44, 0.5);
            padding: 1em;
            align-content: flex-start;

            &-company {
                background-color: var(--minor-color);
                color: var(--major-color);
                padding: 5px;
                display: flex;
                align-items: center;
                grid-area: company;
                margin: 0em -1em;
                margin-top: -1em;
                letter-spacing: 0.05em;
            }

            &-job {
                letter-spacing: 0.05em;
                grid-area: job;
            }

            &-date {
                letter-spacing: 0.05em;
                grid-area: date;
            }

            &-location {
                letter-spacing: 0.05em;
                grid-area: location;
            }

            &-details {
                letter-spacing: 0.05em;
                grid-area: details;
                display: grid;
                align-content: flex-start;
                gap: 0.5em;
                background-color: rgba(59, 44, 44, 0.5);
                padding: 0.3em;

                &-item {
                    grid-template-columns: max-content 1fr;
                    display: grid;
                    letter-spacing: 0.1em;
                    gap: 1vw;
                    padding: 0.5em;
                }
            }
        }
    }
}

@for $i from 1 through $skills {
    .skills-view-set-item:nth-of-type(#{$i}) {
        transform: rotateX(#{360 * $i/$skills}deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: rotateX(360deg) rotateY(20deg);
    }
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
}

@media (min-width: 700px) {
    .skills {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
        overflow: hidden;

        &-view {
            height: calc(100% - 3em);

            &-set {
                &:hover {
                    .skills-view-set-item {
                        background: rgba(59, 44, 44, 0.5);
                        color: var(--major-color);
                    }
                }

                &-item {
                    background: rgba(59, 44, 44, 0.1);
                }
            }
        }
    }
}
