<div class="home">
  <span class="home-header">
    <span class="home-header-nav">
      <i class="fa fa-angle-left home-header-nav-icon" [routerLink]="prevTitle.toLowerCase()" [title]="prevTitle"></i>
      <i class="fa fa-angle-right home-header-nav-icon" [routerLink]="nextTitle.toLowerCase()" [title]="nextTitle"></i>
    </span>
    <span class="home-header-theme">
      <span class="home-header-theme-text">{{!theme ? "Dark" : "Light"}}</span>
      <i class="fa home-header-theme-toggle" [class.fa-toggle-on]="!theme" [class.fa-toggle-off]="theme"
        (click)="theme = !theme"></i>
    </span>
    <i class="fa fa-bars home-header-theme-toggle" (click)="showMenu = true"></i>
  </span>

  <div *ngIf="showMenu" class="home-menu" @fade>
    <i class="fa fa-times home-menu-toggle" (click)="showMenu = false"></i>

    <span class="home-menu-list">
      <span *ngFor="let link of menuLinks" [routerLink]="link.toLowerCase()" class="home-menu-list-button" (click)="showMenu = false">{{link}}</span>
    </span>
  </div>

  <div class="home-social">
    <a href="https://www.github.com/kade-95" target="_blank" class="fa fa-github home-social-button"></a>
    <a href="https://twitter.com/KennedyIkeka" target="_blank" class="fa fa-twitter home-social-button"></a>
  </div>

  <div class="home-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>