<div class="home">
  <i class="fa fa-bars home-menu-toggle" (click)="showMenu = true"></i>

  <div *ngIf="showMenu" class="home-menu" @fade>
    <i class="fa fa-times home-menu-toggle" (click)="showMenu = false"></i>

    <span class="home-menu-list">
      <span routerLink="about" class="home-menu-list-button" (click)="showMenu = false">About</span>
      <span routerLink="projects" class="home-menu-list-button" (click)="showMenu = false">Projects</span>
      <span routerLink="skills" class="home-menu-list-button" (click)="showMenu = false">Skills</span>
      <span routerLink="contact" class="home-menu-list-button" (click)="showMenu = false">Contact</span>
    </span>
  </div>

  <div class="home-social">
    <a href="https://www.github.com/kade-95" target="_blank" class="fa fa-github home-social-button"></a>
    <a href="https://twitter.com/KennedyIkeka" target="_blank" class="fa fa-twitter home-social-button"></a>
  </div>

  <div class="home-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>