.home {
    display: grid;
    align-content: flex-start;
    grid-template-rows: max-content 1fr;
    height: 100%;
    align-items: center;
    position: relative;
    overflow: hidden;

    &-header {
        display: grid;
        grid-template-columns: max-content max-content;
        align-items: center;
        justify-content: flex-end;

        gap: 1em;

        &-theme {
            display: grid;
            grid-template-columns: max-content max-content;
            align-items: center;
            gap: 0.5vw;

            &-toggle {
                font-size: 1.3em;
                cursor: pointer;
                justify-self: flex-end;
                padding: 0.5em;

                &:hover {
                    color: var(--extra-color);
                }
            }
        }
    }

    &-menu {
        display: grid;
        grid-template-rows: max-content 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
        background-color: var(--major-color);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 100;

        &-toggle {
            font-size: 3vw;
            cursor: pointer;
            justify-self: flex-end;
            padding: 0.5em;

            &:hover {
                color: var(--extra-color);
            }
        }

        &-list {
            height: 80%;
            width: 80%;
            display: flex;
            flex-direction: column;
            text-align: center;

            &-button {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2em;
                text-transform: capitalize;
                font-weight: 700;
                font-family: var(--title-font);
                cursor: pointer;
                border: none;
                outline: none;
            }

            &-button:hover {
                color: var(--extra-color);
            }
        }
    }

    &-social {
        display: flex;
        align-self: center;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;

        &-button {
            padding: 0.5em;
            font-size: 1.2em;
            background-color: var(--minor-color);
            color: var(--major-color);
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
        }

        &-button:hover {
            background-color: var(--extra-color);
            color: var(--minor-color);
        }
    }

    &-wrapper {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}

@media (min-width: 700px) {
    .home {
        &-header {
            &-theme {
                &-toggle {
                    &:hover {
                    }
                }
            }
        }

        &-menu {
            &-toggle {
                &:hover {
                }
            }

            &-list {
                &-button {
                }

                &-button:hover {
                }
            }
        }

        &-social {
            flex-direction: column;
            left: 0;
            bottom: 0;
            top: unset;

            &-button {
                padding: 0.5em;
            }

            &-button:hover {
            }
        }

        &-wrapper {
        }
    }
}
