<div class="about">
    <span class="about-qoute">
        <span>Hey</span>, I am Ikeka Kennedy
        <br><br>
        A FullStack Engineer with 9 years experience on programming, <span>web development</span>, data
        compression and
        <span>algorithms, Currently enthusiastic about animations and Machine Learning</span>.
        <br>
    </span>

    <span class="about-stage">
        <div class="sphere">
            <div class="face xaxis">1</div>
            <div class="face xaxis">2</div>
            <div class="face xaxis">3</div>
            <div class="face xaxis">4</div>
            <div class="face xaxis">5</div>
            <div class="face yaxis">6</div>
            <div class="face yaxis">7</div>
            <div class="face yaxis">8</div>
            <div class="face yaxis">9</div>
            <div class="face yaxis">11</div>
            <div class="face zaxis">11</div>
            <div class="face zaxis">12</div>
            <div class="face zaxis">13</div>
            <div class="face zaxis">14</div>
            <div class="face zaxis">15</div>
        </div>
    </span>
</div>