<div class="about">
    <span class="about-greeting">
        <h3 class="about-greeting-salute">
            <b>Hey,</b>
            I am Kennedy Ikeka
        </h3>
        <p class="about-greeting-statement">
            An experienced <b>Backend Engineer</b> seeking a challenging role that leverages technical expertise and problem-solving skills. Proficient in <b>JavaScript</b>, <b>TypeScript</b>, and other programming languages.
        </p>

        <span class="about-links">
            <a [routerLink]="'../contact'">Contact me</a>
            <a href="https://github.com/Ka-de">See Git</a>
        </span>
    </span>
    <span class="about-stage">
        <div class="sphere">
            <div class="face xaxis">1</div>
            <div class="face xaxis">2</div>
            <div class="face xaxis">3</div>
            <div class="face xaxis">4</div>
            <div class="face xaxis">5</div>
            <div class="face yaxis">6</div>
            <div class="face yaxis">7</div>
            <div class="face yaxis">8</div>
            <div class="face yaxis">9</div>
            <div class="face yaxis">11</div>
            <div class="face zaxis">11</div>
            <div class="face zaxis">12</div>
            <div class="face zaxis">13</div>
            <div class="face zaxis">14</div>
            <div class="face zaxis">15</div>
        </div>
    </span>
</div>