<div class="projects">
    <h3 class="projects-header-title">Personal Projects</h3>

    <div class="projects-header">
        <div class="projects-header-tools">
            <button class="projects-header-tools-item" *ngFor="let tool of tools" (click)="toggleTool(tool)"
                [disabled]="currentTool == tool">{{tool.toUpperCase()}}</button>
        </div>
    </div>

    <div class="projects-list">
        <span class="projects-list-item" *ngFor="let project of projects" [style.display]="showProject(project)">
            <h5 class="projects-list-item-name">{{project.name}}</h5>
            <span class="projects-list-item-details">
                <span class="projects-list-item-details-description">
                    {{project.description}}
                </span>
                <span class="projects-list-item-details-tools">
                    <span class="projects-list-item-details-tools-item" *ngFor="let tool of project.tools" (click)="toggleTool(tool)">
                        {{tool}}
                    </span>
                </span>
                <span class="projects-list-item-details-links">
                    <a [href]="project.git" class="projects-list-item-details-links-item" target="_blank">Open</a>
                </span>
            </span>
        </span>
    </div>
</div>